:root{
    --blackpearl: #01192C;
    --calico: #E4C69D;
    --scooter: #43C8D8;
    --jellybean: #2688A9;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@100&display=swap');

*{
    font-family: 'Bebas Neue', sans-serif;
}

/* ----------------- NAVBAR ----------------- */

nav{
    font-size: 1.8rem;
    background-color: #01192C;
    color:#E4C69D;
}

.navbar-brand{
    background-color: #01192C;
    position: relative;
    width: 5.6rem;
    left: 0.3rem;
    background-size: contain;
}

.navbar-nav li{
    padding-left:0.5rem;
    padding-right:0.5rem;
  }



/* ----------------- BANNER ----------------- */

.banner{
    position: relative;
    text-align: center;
    color: var(--calico);
}

.banner img{
    max-width: 100%;
    max-height: 100%;
}

.top-left{
    position: absolute;
    top: 30px;
    left: 24px;
}

.top-left h1{
    font-size: 4rem;
}

/* ----------------- CALL TO ACTION ----------------- */

.calltoaction{
    display: flex;
    justify-content: center;
    background-color: var(--blackpearl);
}

.calltoaction button{
    color: var(--blackpearl);
    margin: 10rem;
    font-size: 6rem;
    padding: 1rem 2rem;
    background-color: var(--calico);
}

/* ----------------- INFO ----------------- */

.information{
    background-color: var(--calico);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 6rem 0;
}

.card{
    margin: 5rem;
    background-color: var(--blackpearl);
    color: var(--calico);
    font-size: 1.5rem;
}

/* ----------------- REVIEWS ----------------- */

.carousel-caption{
    -webkit-text-stroke: 1px black; /* width and color */
}

.carousel-caption h5{
    font-size: 3rem;
}

.carousel-caption p{
    font-size: 2rem;
}

/* ----------------- FOOTER ----------------- */

footer {
    background-color: var(--blackpearl);
    color: #fff;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.social-media {
    display: flex;
    gap: 3rem;
  }
  .social-media a {
    text-decoration: none;
    color: var(--calico);
    font-size: 24px;
  }
  
  @media (max-width: 768px) {
    footer {
      flex-direction: column;
      text-align: center;
    }
  }